<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javaislove.mycoronaguide">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <activity android:name="com.javaislove.mycoronaguide.ReportActivity" />
    <activity android:name="com.javaislove.mycoronaguide.TipsActivity" />
    <activity android:name="com.javaislove.mycoronaguide.HomeActivity" />
    <activity android:name="com.javaislove.mycoronaguide.StatsActivity" />
    <activity android:name="com.javaislove.mycoronaguide.GetStartedActivity" />
    <activity android:name="com.javaislove.mycoronaguide.LoginActivity" />
        <activity android:name="com.javaislove.mycoronaguide.ChatActivity" />
        <activity android:name="com.javaislove.mycoronaguide.ChatBox" />
    <activity android:name="com.javaislove.mycoronaguide.IntroActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBVD-gXx6TQYwg0NkFZF2mWr_K6-MKHoQA" />

    <activity android:name="com.javaislove.mycoronaguide.MainActivity" />
    <activity android:name="com.javaislove.mycoronaguide.MapsActivity" />
    </application>
</manifest>
